<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tryout.title }}</title>
</head>
<body>
    <h1>{{ tryout.title }}</h1>
    <p>{{ tryout.description }}</p>

    <h2>Questions</h2>
    <ul>
        {% for question in questions %}
            <li>
                <p><strong>Q:</strong> {{ question.text }}</p>
                <p><strong>Answer:</strong> {% if question.answer %}True{% else %}False{% endif %}</p>
                {% if tryout.status == False %}
                <a href="{% url 'main:question_edit' question.id %}">Edit</a> |
                <a href="{% url 'main:question_delete' question.id %}">Delete</a>
                {% endif %}
            </li>
        {% empty %}
            <p>No questions available.</p>
        {% endfor %}
    </ul>
    {% if tryout.status == False  %}
    <a href="{% url 'main:tryout_edit' tryout.id %}">Edit Tryout</a>
    <a href="{% url 'main:tryout_delete' tryout.id %}">Delete Tryout</a>
    <a href="{% url 'main:question_create' tryout.id %}">Add Question</a>
    {% endif %}
    <br>
    <a href="{% url 'main:show_main' %}">Back</a>
</body>
</html>