{% extends 'base.html' %}

{% block meta %}
<title>Attempt Quiz</title>
{% endblock meta %}

{% block content %}
{% include "navbar.html" %}
<div class="flex flex-col p-5 item-center justify-center gap-4">
    <h2 class="font-medium text-3xl text-center">Attempt Quiz: {{ tryout.title }}</h2>
    
    <form method="POST">
        {% csrf_token %}
        <div class="pt-3 pb-5 space-y-4 min-h-screen">
            {% for question in questions %}
                <div class="flex flex-col p-5 bg-white gap-3 rounded-lg shadow-md">
                    <p class="text-2xl text-gray-800 font-medium" >{{ question.text }}</p>
                    <label class="text-1xl text-gray-800 font-medium">
                        <input type="radio" name="question_{{ question.id }}" value="True" required>
                        True
                    </label>
                    <label class="text-1xl text-gray-800 font-medium">
                        <input type="radio" name="question_{{ question.id }}" value="False" required>
                        False
                    </label>
                </div>
            {% endfor %}
            <button class="bg-green-500 text-white px-4 py-2 rounded-lg shadow-md transition transform
            hover:bg-green-600 hover:-translate-y-1 hover:scale-10" type="submit">Submit</button>
        </div>
    </form>
</div>
{% include "footer.html" %}
{% endblock content %}