{% extends 'base.html' %}

{% block meta %}
<title>Daftar Tryout</title>
{% endblock meta %}

{% block content %}
    <h1>Tryout Lists</h1>
    <a href="{% url 'main:create_tryout' %}">
        <button>Add New Tryout</button>
    </a>

    <ul>
        {% for tryout in list_tryout %}
            <li>
                <h2>{{ tryout.title }}</h2>
                <p>{{ tryout.description }}</p>
                <a href="{% url 'main:tryout_detail' tryout.id %}">
                    <button >Quiz Details</button>
                </a>
                <a href="{% url 'main:attempt_quiz' tryout.id %}">
                    <button>Attempt Quiz</button>
                </a>
            </li>
        {% empty %}
            <p>No Tryouts available</p>
        {% endfor %}
    </ul>
{% endblock content %}